.fs_check_title {
    margin-top:    20px;
    margin-bottom: 40px;
}

.message_success {
    margin-top: 10px !important;
    color:      green !important;
}

.message_danger {
    margin-top: 10px !important;
    color:      red !important;
}

.btn-primary {
    background-color: #4CAF50;
    border:           none;
    color:            white;
    padding:          7px;
    text-align:       center;
    text-decoration:  none;
    display:          inline-block;
    font-size:        12px;
    border-radius:    4px;
}

.center-div {
    text-align: center;
}

.error {
    margin-top: 20px !important;
    color:      red !important;
}

.flex-container {
    display: flex;
}

.flex-container > div {
    margin:  10px;
    padding: 20px;
}

.fs-message {
    margin-top: 30px;
}